body{
    font: 1rem/1.5 var(--bs-font-sans-serif);
}

// Bootstrap Customisation
.navbar .navbar-brand-extra{
    padding-left: 1em;
    color: yellow;
    transition: 2s;
}

.navbar .navbar-brand-extra:hover{
    color: red;
    transition: 2s;
}

.custom-badge-radius{
    padding: 0.6em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 6px;
}

.estimate-radius{
    border: solid 1px;
    border-color: red;
    background-color: #ffcccb;
    min-width: 2em;
    padding: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 3px;
}

.estimate-card-custom{
    margin: 0.2em;
}